{% extends 'orders/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/order.css'%}" type="text/css">

<div class="order" style="padding: 15px 30px 30px 30px">
    <h1>Список блюд</h1>
<table border=2 class="table table-striped-columns">
    <th>Название блюда</th>
    <th>Цена</th>
    {% for item in items %}
    <tr>
        <td align="center">{{item.dish_name}}</td>
        <td align="center">{{item.price}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}